<nav aria-label="Page navigation example">
{% if accounts.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if accounts.has_previous %}

      <li class="page-item"><a  class = "page-link" href="?page={{ accounts.previous_page_number }}">   &laquo;</a></li>
    {% else %}
      <li class=" page-item disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in accounts.paginator.page_range %}
      {% if accounts.number == i %}
        <li class="page-item active" aria-current="page"><span class = "page-link">{{ i }} <span class="sr-only"></span></span></li>
      {% else %}
        <li><a class = "page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if accounts.has_next %}
      <li><a class = "page-link" href="?page={{ accounts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</nav>
