<nav aria-label="Page navigation">

{% if accounts.has_other_pages %}
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not accounts.has_previous %} disabled {% endif%}">
      <a  class = "page-link" href="{% if accounts.has_previous %} ?page={{ accounts.previous_page_number }}{% endif%}">   Previous</a></li>
    {% else %}
      <li class=" page-item disabled"><span></span></li>
    {% endif %}
    {% for i in accounts.paginator.page_range %}
      {% if accounts.number == i %}
        <li class="page-item active" aria-current="page"><span class = "page-link">{{ i }} <span class="sr-only"></span></span></li>
      {% else %}
        <li><a class = "page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    <li class="page-item {% if not accounts.has_next %} disabled {% endif%}">
      <a  class = "page-link" href="{% if accounts.has_next %} ?page={{ accounts.next_page_number }}{% endif%}">   Next</a></li>
  </ul>

</nav>
