header {
  background: url('/static/images/pexels-merve-şahin-11161043.jpg') no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;

  background-size: cover;
  -o-background-size: contain;
}
