<!-- {% if user.is_authenticated%}
<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
        <a class="dropdown-item" href="#">My account</a>
        <a class="dropdown-item" href="#">Change password</a>
        <div class="dropdown-divider">
        </div>
        <a class="dropdown-item" href="{% url 'logout'%}">Log out</a>
        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>

      </div>

  </li>

</ul>
{%else%}
<form class="form-inline ml-auto" >
  <a href="#" class="btn bn-outline-secondary" color="white">Log in</a>
  <a href="{% url 'signup'%}" class = "btn btn-primary ml-2">Sign up</a>

</form>
{% endif%}
</div>
</div>
</nav>
<div class="container">
<ol class="breadcrumb my-4">
{% block breadcrumb %}
{% endblock %}
</ol>
{% block content %}
{% endblock %}
</div> -->


base.html

    {%block body%}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"> Branch </a>
            <button type="button" class="navbar-toggler"
            data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-haspopup="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
          {% if user.is_authenticated%}
        <div class="collapse navbar-collapse" id="mainMenu" >

          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item dropdown">
              <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
               <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>

                <a class="btn btn-primary ml-auto"href="{% url 'account_logout' %}">Log out</a>
              </li>
            </ul>
                </div>



          {%else%}
          <form class="form-inline ml-auto" >
            <a href="{% url 'account_login' %}" class="btn btn-secondary" color="white">Log in</a>
            <a href="{% url 'account_signup'%}" class = "btn btn-primary ml-3">Sign up</a>
          </form>
          {% endif%}
      </div>

  </nav>
  <main role="main" class="container">
  <div class="starter-template">
  {% block content %}{% endblock %} <!-- here -->
  </div>
  </main>

      {% endblock body%}


index.html

<body class="container">
  <img src="{% static '/images/angular-icon-logo-svgrepo-com.svg' %}" alt="My image">
  <img src="{% static '/images/bank.jpeg' %}" height = "500px" width="500px"   alt="My image">
  <link rel="stylesheet" href="static/style.css">
  <div
    class="bg-image  d-flex justify-content-center align-items-center"
    style="
      background-image: url('/static/images/bank.jpeg') ;
      height: 100vh;
    "
    >
     <h1 class="text-white">Page title</h1>
  </div>
</body>


<div style="background-image: url('/static/images/pexels-merve-şahin-11161043.jpg') ;"></div>


views.py
def create(request):
    accounts = Account.objects.filter(customer__user=request.user)
    customer = Customer.objects.filter(user=request.user)[0]
    user = User.objects.filter(username=request.user)
    if request.method == 'POST':
        form=AccountForm(request.POST)
        if form.is_valid:
            balance = request.POST.get('balance')
            name = request.POST.get('name')
            print(customer)
            print(request.user)
            print(user)
            Customer.objects.create(
            user=request.user
            )
            Account.objects.create(
            name = name,
            balance = balance,
            customer=request.user
            )
            form.save()
            return render(request, 'created.html',{'form':form,'accounts':accounts, 'balance':balance})

    else:
        form=AccountForm()
    return render(request,'create.html',{'form':form,'accounts':accounts})

    def create(request):
        accounts = Account.objects.filter(customer__user=request.user)
        customer = Customer.objects.filter(user=request.user)
        if request.method == 'POST':
            form=AccountForm(request.POST)
            if form.is_valid:
                balance = request.POST.get('balance')
                name = request.POST.get('name')
                User.objects.create(
                user=customer
                )
                Account.objects.create(
                name = name,
                balance = balance,
                customer=customer
                )

                form.save()
                return render(request, 'created.html',{'form':form,'accounts':accounts, 'balance':balance})

        else:
            form=AccountForm()
        return render(request,'create.html',{'form':form,'accounts':accounts})

        def create(request):
            accounts = Account.objects.filter(customer__user=request.user)
            user = get_object_or_404(User,username__iexact=request.user)
            if request.method == 'POST':

                customer, created = Customer.objects.get_or_create(user=request.user)
                Account.objects.create(
                    name = randomGen(),
                    customer = customer,
                    balance = 0
                )
                return render(request, 'created.html',{'accounts':accounts})

                customer = Customer.objects.filter(user=request.user)[0]
            else:
                pass
            return render(request,'create.html')


        def request_loan(request,pk):
            form=LoanForm()
            account = get_object_or_404(Account, pk=pk)
            loans = Loan.objects.filter(customer__user=request.user)
            user = get_object_or_404(User,username__iexact=request.user)
            customer = Customer.objects.filter(user=request.user)[0]
            if request.method == 'GET':
                return render(request,'request_loan.html', {'form':form, "loans":loans,"account":account})
            if request.method == 'POST':
                form=LoanForm(request.POST)
                if form.is_valid():
                    amount = request.POST.get('amount')
                    duration = request.POST.get('duration')

                    Loan.objects.create(
                    amount=amount,
                    duration=duration,
                    customer=customer,
                    pending=True
                    )

                    return render(request,'loan_requested.html', {'form':form, "loans":loans,"amount":amount, "account":account})
            else:
                return render(request,'request_loan.html', {'form':form, "loans":loans,"account":account})


        def withdraw(request,pk):
            form=TransactForm()
            account = get_object_or_404(Account, pk=pk)
            balance = account.balance
            customer = Customer.objects.filter(user=request.user)[0]
            if request.method == "GET":
                return render(request,'withdraw.html', {'form':form, "account":account})

            if request.method == "POST":

                amount = request.POST.get('amount')
                amo = Decimal(amount)
                print(amo)
                print(balance)
                if form.is_valid:
                    if (balance <= amo):
                        return render(request, 'cannot_withdraw.html')
                    else:
                        transaction = Transaction.objects.create(
                        amount=amo,
                        type='Withdrawal',
                        to_account = account,
                        account= account
                        )
                        transaction.save()
                        balance -= amo
                        account.balance = balance
                        account.save()
                        return render(request, 'withdrawn.html',{'balance':balance, "account":account})

            else:
                return render(request,'withdraw.html', {'form':form, "account":account})


        def deposit(request,pk):
            form=TransactForm()
            account = get_object_or_404(Account, pk=pk)
            balance = account.balance
            customer = Customer.objects.filter(user=request.user)[0]
            if request.method == "GET":
                return render(request,'deposit.html', {'form':form, "account":account})

            if request.method == "POST":
                amount = request.POST.get('amount')
                amo = Decimal(amount)
                print(amo)
                print(balance)
                if form.is_valid:
                    transaction = Transaction.objects.create(
                    amount=amo,
                    type='Deposit',
                    to_account = account,
                    account= account
                    )
                    transaction.save()
                    balance += amo
                    account.balance = balance
                    account.save()
                    return render(request, 'deposited.html',{'balance':balance, "account":account})

            else:
                return render(request,'deposit.html', {'form':form, "account":account})

        def statement(request,pk):
            account = get_object_or_404(Account, pk=pk)

            if request.method == 'GET':
                transactions = Transaction.objects.filter(account=account)
                return render(request, 'statement.html', { 'account':account, 'transactions':transactions})

        def loan_statement(request,pk):
            account = get_object_or_404(Account, pk=pk)
            loans = Loan.objects.filter(customer__user=request.user)
            if request.method == 'GET':
                return render(request, 'loan_statement.html', { 'account':account, 'loans':loans})

        def send_money(request, pk):
            form=TransferForm()
            account = get_object_or_404(Account, pk=pk)
            balance = account.balance
            user = get_object_or_404(User,username__iexact=request.user)
            customer = Customer.objects.filter(user=request.user)[0]
            if request.method == "GET":
                return render(request,'transfer.html', {'form':form, "account":account})
            if request.method == "POST":
                form = TransferForm(request.POST)
                if form.is_valid:
                    amount = request.POST.get('amount')
                    acc_name = request.POST.get('acc_name')
                    amo = Decimal(amount)
                    to_account = Account.objects.get(name=acc_name)
                    balances = to_account.balance
                    if (balance <= amo):
                        return render(request, 'cannot_send.html')
                    # if name not in acc_name:
                    #     return HttpResponse("no")
                    else:

                        transfer = Transaction.objects.create(
                            amount=amo,
                            type='Transfer',
                            account= account,
                            to_account =to_account
                            )
                        transfer.save()
                        form.save()

                        balance -= amo
                        account.balance = balance
                        balances += amo
                        to_account.balances = balances
                        account.save()
                        to_account.save()

                        return render(request, 'transferred.html',{'balance':balance, 'balances':balances,"to_account":to_account,"account":account})
            else:
                return render(request,'transfer.html', {'form':form, "account":account,"to_account":to_account})



        def delete(request,pk):
            account = get_object_or_404(Account, pk=pk)
            balance = account.balance
            if request.method == 'GET':
                if balance != 0:
                    return render(request, 'delete_error.html')
                else:
                    return render(request,'delete.html')
            if request.method == 'POST':
                account.delete()
                return HttpResponseRedirect("/")
            return render(request,'delete.html')
