{% extends 'base.html' %}


{% block content%}


<section id="welcome_post" class="col-9">
    <h2>Welcome, <span id="prof_name">{{ User }}.</span> </h2>
    <h4 style="font-weight: 300;">It's good to have you here.</h4>
    <br>


    <form>
        <h3 style="font-weight: 300;">
            What type of account do you want to create?
            <ul>
              <form action="#">
                    <label for="lang">accounts</label>
                    <select name="accounts" id="lang">
                      <option value="emergency">{{accounts.name}}</option>
                        <option value="emergency">{{accounts.name}}</option>
                    </select>
                    <input type="submit" value="Submit" />
              </form>
            </ul>
        </h3>
        <br>
        <h3 style="font-weight: 300;">
            Enter the amount of money  (Ksh)
            <input type="number" class="form-control" id="loan_amt" required>
        </h3>
        <small>Please read the <a href="#">Terms and Conditions</a> before creating an account</small>. <br>
        <button class="btn btn-primary" type="button" id="loan_submit">create an account </button>
    </form>

</section>
{% endblock%}
