{% extends 'base.html' %}

{% load static%}
  {% block content%}
  <div class="mt-7">

  </div>
  <div class="container d-flex d-flex-column justify-content-center ">

  {% block title %}  {{user}}'s Dashboard

  {% endblock %}

  </div>


<div class="mt-5">

</div>
  <div class="dropdown d-flex justify-content-end">

    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Accounts
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for account in accounts%}
      <li><a class="dropdown-item" href="{% url 'dashboard' account.pk%}">{{account.name}}</a></li>

    {% endfor%}
    </ul>
  </div>
<!-- Main layout -->

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3  mt-2 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home'%}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>

                      {% if account%}
                    <li>
                        <a href="{%url 'statement' account.pk %}"class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <li <span class="mx-2"> Mini_statement</a>
                    </li>
                    <li>
                        <a href="{%url 'delete' account.pk %}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Delete</span></a>
                    </li>
                    <li>
                        <a href="{%url 'loan' account.pk%}"  class="nav-link px-0 align-middle ">
                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Request Loan</span></a>
                    </li>

                    <li>
                        <a href="{%url 'send_money' account.pk%}"class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Send Money</span></a>
                    </li>
                    <li>
                        <a href="{%url 'withdraw' account.pk %}"class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Withdraw</span></a>
                    </li>

                    <li>
                        <a href="{%url 'deposit' account.pk %}"class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Deposit</span></a>
                    </li>

                    {% endif%}
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
          <main style="margin-top:50px; height:auto; width:auto; padding: 20px 0; ">
            <div class="pt-4 my-container active-cont d-flex justify-content-center">


              <section class="py-5  " style="height:100px" id="dashboard">

                <div class="row  gx-5 ">
                    <div class="col-12  col-sm-6 col-xl-4 mb-4">
                        <div class="card border-0 h-100  shadow">
                            <div class="card-body  ">
                                <div class=" row d-block d-xl-flex align-items-center">
                                    <div class=" col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center ">
                                    </div>
                                    <div class=" col-12 col-xl-7 px-xl-0">

                                            <h2 class="h6 text-gray-400 mb-0" style="color:blue">Total balances</h2>

                                            <h3 class="fw-extrabold mb-2" style="color:green" >${{total_amount.sum}}</h3>
                                            <div class="">

                                              {%for account_monthly  in accounts_monthly %}
                                              <p> From {{account_monthly.month}}:</p>
                                              <p style="color:green" >{{account_monthly.sum}}</p>

                                              {% endfor%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-0 h-100 shadow">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                    </div>
                                    <div class="col-12 col-xl-7 px-xl-0">

                                          <h2 class="h6 text-gray-400 mb-0" style="color:blue">Total loans</h2>
                                          <h3 class="fw-extrabold mb-2" style="color:red" >${{total_loans.sum}}</h3>
                                          <div class="">
                                            {%for loan_monthly  in loans_monthly %}
                                            <p>From {{loan_monthly.month}}:</p>
                                            <p style="color:red" >{{loan_monthly.sum}}</p>
                                            {% endfor%}
                                          </div>


                                          <h2 class="h6 text-gray-400 mb-0" style="color:blue"> Total withdrawals</h2>
                                          <h3 class="fw-extrabold mb-2" style="color:red">${{total_withdraw.sum}}</h3>

                                      <small class="text-gray-500">
                                        {% for monthly_withdrawal in monthly_withdrawals%}
                                          <p> From {{monthly_withdrawal.month}}:</p>
                                          <p style="color:red">{{monthly_withdrawal.sum}}</p>
                                          {% endfor%}
                                      </small>
                                          </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="card border-0 h-100 shadow">
                            <div class="card-body ">
                                <div class="row d-block d-xl-flex align-items-center">
                                    <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                </div>
                                    <div class="col-12 col-xl-7 px-xl-0">


                                            <h2 class="h6 text-gray-400 mb-0" style="color:blue"> Total deposits</h2>
                                            <h3 class="fw-extrabold mb-2"  style="color:green">${{total_deposited.sum}}</h3>

                                        <small class="text-gray-500">
                                          {% for monthly_deposit in monthly_deposits%}
                                          <p>From {{monthly_deposit.month}}:</p>
                                          <p style="color:green">{{monthly_deposit.sum}}</p>
                                            {% endfor%}
                                        </small>

                                            <h2 class="h6 text-gray-400 mb-0" style="color:blue"> Total money send</h2>
                                            <h3 class="fw-extrabold mb-2"  style="color:green">${{total_transferred.sum}}</h3>
                                        <small class="text-gray-500">
                                          {% for monthly_transfer in monthly_transfers%}
                                            <p> From {{monthly_transfer.month}}:</p>
                                            <p style="color:green">{{monthly_transfer.sum}}</p>
                                            {% endfor%}
                                        </small>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
            <a class="btn border-0" id="menu-btn">
              <i class="bx bx-menu"></i>
            </a>
          </div>
          </main>
        </div>
    </div>
</div>



{% endblock%}
