{% extends 'base.html' %}

  {% block content%}

  <div class="container d-flex d-flex-column justify-content-center ">

  {% block title %}  {{user}}'s Dashboard

  {% endblock %}

  </div>

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}
{% include 'list.html'%}
  <div class="navbar active-nav d-flex justify-content-center flex-wrap flex-column" id="sidebar">
\
  </div>
  <!-- <div class="p-1 my-container active-cont d-flex justify-content-center"> -->
<section class="py-5  " style="height:auto" id="dashboard">

  <div class="row  gx-5 h-100">
      <div class="col-12  col-sm-6 col-xl-4 mb-4">
          <div class="card border-0 h-100  shadow">
              <div class="card-body  ">
                  <div class=" row d-block d-xl-flex align-items-center">
                      <div class=" col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center ">
                      </div>
                      <div class=" col-12 col-xl-7 px-xl-0">

                              <h2 class="h6 text-gray-400 mb-0" style="color:blue">Total balances</h2>

                              <h3 class="fw-extrabold mb-2" style="color:green" >${{total_amount.sum}}</h3>
                              <div class="">

                                {%for account_monthly  in accounts_monthly %}
                                <p> From {{account_monthly.month}}:</p>
                                <p style="color:green" >{{account_monthly.sum}}</p>

                                {% endfor%}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-4 mb-4">
          <div class="card border-0 h-100 shadow">
              <div class="card-body">
                  <div class="row d-block d-xl-flex align-items-center">
                      <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                      </div>
                      <div class="col-12 col-xl-7 px-xl-0">

                            <h2 class="h6 text-gray-400 mb-0" style="color:blue">Total loans</h2>
                            <h3 class="fw-extrabold mb-2" style="color:red" >${{total_loans.sum}}</h3>
                            <div class="">
                              {%for loan_monthly  in loans_monthly %}
                              <p>From {{loan_monthly.month}}:</p>
                              <p style="color:red" >{{loan_monthly.sum}}</p>
                              {% endfor%}
                            </div>


                            <h2 class="h6 text-gray-400 mb-0" style="color:blue"> Total withdrawals</h2>
                            <h3 class="fw-extrabold mb-2" style="color:red">${{total_withdraw.sum}}</h3>

                        <small class="text-gray-500">
                          {% for monthly_withdrawal in monthly_withdrawals%}
                            <p> From {{monthly_withdrawal.month}}:</p>
                            <p style="color:red">{{monthly_withdrawal.sum}}</p>
                            {% endfor%}
                        </small>
                            </div>

                      </div>
                  </div>
              </div>
          </div>
      <div class="col-12 col-sm-6 col-xl-4 mb-4">
          <div class="card border-0 h-100 shadow">
              <div class="card-body ">
                  <div class="row d-block d-xl-flex align-items-center">
                      <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
  </div>
                      <div class="col-12 col-xl-7 px-xl-0">


                              <h2 class="h6 text-gray-400 mb-0" style="color:blue"> Total deposits</h2>
                              <h3 class="fw-extrabold mb-2"  style="color:green">${{total_deposited.sum}}</h3>

                          <small class="text-gray-500">
                            {% for monthly_deposit in monthly_deposits%}
                            <p>From {{monthly_deposit.month}}:</p>
                            <p style="color:green">{{monthly_deposit.sum}}</p>
                              {% endfor%}
                          </small>

                              <h2 class="h6 text-gray-400 mb-0" style="color:blue"> Total money send</h2>
                              <h3 class="fw-extrabold mb-2"  style="color:green">${{total_transferred.sum}}</h3>
                          <small class="text-gray-500">
                            {% for monthly_transfer in monthly_transfers%}
                              <p> From {{monthly_transfer.month}}:</p>
                              <p style="color:green">{{monthly_transfer.sum}}</p>
                              {% endfor%}
                          </small>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>
<!-- <section class="container" style="height:50vh;">
  <div class="container  justify-content-center">

        <div class="mt-3 row">
    <div class="card-border-0 shadow" >
    <div class="card-body ">
  <a href="{% url 'create'%}" class="btn btn-primary ">Create an account</a>

      <table class="table">
        <thead>
          {%if accounts%}
          <tr>
            <th scope="col">Account</th>

            <th scope="col">Balance</th>
          </tr>
        </thead>

        <tbody>

          {% for account in accounts %}
          <tr>
            <th scope="row">{{account.name}}</th>
            <td>{{account.balance}}</td>
  <td>

    <div class="dropdown">
      <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action</a>

      <ol class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="{%url 'statement' account.pk %}">Mini_statement</a></li>
          <li><a class="dropdown-item"  href="{%url 'delete' account.pk %}">Delete</a></li>
            <li><a class="dropdown-item" href="{%url 'loan' account.pk%}">Request Loan</a></li>
            <li><a class="dropdown-item" href="{%url 'send_money' account.pk%}">Send Money </a></li>
              <li><a class="dropdown-item" href="{%url 'withdraw' account.pk %}">Withdraw</a></li>
              <li><a class="dropdown-item" href="{%url 'deposit' account.pk %}">Deposit</a></li>

      </ol>
    </div>
    </td>
    {% endfor %}
    {% else%}

    {% endif%}
          </tr>


        </tbody>
      </table>

    </div>
  </div>
  </div>
  </div>
</section>
 -->

<!-- {% include 'includes/pagination.html'%} -->
{% endblock%}
