{% extends 'base.html' %}

{% block title %}
Bank
{% endblock %}

  {% block content%}
<div class="container">


      <div class="row">
  <div class="card" s>
  <div class="card-body">
    <h5 class="card-title">Account</h5>
    <h6 class="card-subtitle mb-2 text-muted">Create your account today</h6>
    <p class="card-text">Get high interest rates today with our banking system.</p>

<a href="{% url 'create'%}" class="btn btn-primary">Create an account</a>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Account</th>

          <th scope="col">Balance</th>
        </tr>
      </thead>

      <tbody>
        {% for account in accounts %}
        <tr>
          <th scope="row">{{account.name}}</th>
          <td>{{account.balance}}</td>
<td>

  <div class="dropdown">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="{%url 'withdraw' account.pk %}">Withdraw</a></li>
      <li><a class="dropdown-item" href="{%url 'deposit' account.pk %}">Deposit</a></li>
      <li><a class="dropdown-item" href="{%url 'statement' account.pk %}"</a>Mini_statement</li>
        <li><a class="dropdown-item"  href="{%url 'delete' account.pk %}"</a>Delete</li>
          <li><a class="dropdown-item" href="{%url 'loan' account.pk%}"</a>Request Loan</li>
              <li><a class="dropdown-item" href="{%url 'send_money' account.pk%}"</a>Send Money </li>
    </ul>
  </div>
        </tr>
        {% endfor %}

      </tbody>
    </table>

  </div>
</div>
</div>
</div>
{% endblock%}
