{% extends 'base.html'%}
{% block content%}
{% load static %}




<!-- Page Content -->

<section class=" d-flex align-items-center">
  <div class=" mb-5 container">
    <div class="row">
      <div class="" style = "height:120px;">

      </div>
      <div class="col-lg-6 col-sm-12 d-flex justify-content-center " data-aos="zoom-out" data-aos-delay="200">
        <img src="static/assets/img/undraw_transfer_money_re_6o1h.svg" class=" mt-4 img-fluid" alt style="width:310px; height:auto ">
      </div>
      <div class="mt-5 col-lg-6 d-flex flex-column justify-content-center">

        <h1  data-aos="fade-up"><b>We are your partner. We share your vision. Go Ahead!</b></h1>
        <h4 class="mt-3" data-aos="fade-up" data-aos-delay="200">Create your account today and enjoy the high interest that comes with it. Access loans anywhere anytime.</h4>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="mt-5 text-center text-lg-start">
            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'account_signup'%}" >Get Started</a>
                <a class="btn btn-secondary btn-lg" href="{% url 'account_login'%}" >Log in</a>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<!-- Features section-->
<section class=" d-flex align-items-center">
  <div class=" mb-5 container">
    <div class="row">
      <div class="" style = "height:120px;">

      </div>

      <div class="mt-5 col-lg-6 d-flex flex-column justify-content-center">

        <h1  data-aos="fade-up"><b>Get a loan with us!</b></h1>
        <h4 class="mt-3" data-aos="fade-up" data-aos-delay="200">Get emergency loans that come with low interest rates. Pay within a long time period.</h4>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="mt-5 text-center text-lg-start">
            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'account_signup'%}" >Get Started</a>
                <a class="btn btn-secondary btn-lg" href="{% url 'account_login'%}" >Log in</a>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 d-flex justify-content-center " data-aos="zoom-out" data-aos-delay="200">
        <img src="static/assets/img/undraw_online_payments_re_y8f2.svg" class=" mt-4 img-fluid" alt style="width:310px; height:auto ">
      </div>

    </div>
  </div>
</section>
<!-- Testimonials section-->
<section class=" d-flex align-items-center">
  <div class=" mb-5 container">
    <div class="row">
      <div class="" style = "height:120px;">

      </div>
      <div class="col-lg-6 col-sm-12 d-flex justify-content-center " data-aos="zoom-out" data-aos-delay="200">
        <img src="static/assets/img/wallet.svg" class=" mt-4 img-fluid" alt style="width:310px; height:auto ">
      </div>
      <div class="mt-5 col-lg-6 d-flex flex-column justify-content-center">

        <h1  data-aos="fade-up"><b>Save for the future!</b></h1>
        <h4 class="mt-3" data-aos="fade-up" data-aos-delay="200">Let your money grow spontaneously with us. We promise high interest rates</h4>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="mt-5 text-center text-lg-start">
            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'account_signup'%}" >Get Started</a>
                <a class="btn btn-secondary btn-lg" href="{% url 'account_login'%}" >Log in</a>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>

{% endblock%}
