

{% extends 'base.html' %}
{% block content %}

<div class="Sidebar active-nav d-flex justify-content-center flex-wrap flex-column" id="sidebar">

 <ul class="nav flex-column text-white w-100">
   <a href="#" class="nav-link h3 text-white my-2">
     Side Nav
     </a>
     </ul>
<div class=" d-flex mt-3">
    <a href="{% url 'create'%}" class="btn btn-primary ">Create an account</a>
<div class="container d-flex justify-content-center ms-auto">
   <ul class="navbar-nav ms-auto">
     <li class="nav-item active">
         <li class="nav-item">
           {%for account in accounts%}
           <a class="btn btn-primary" href="{% url 'dashboard' account.pk%}">{{account}}</a>
           {%endfor%}
             </li>


       </ul>
</div>
</div>
</div>




{% endblock%}
