<!-- </div>
  <div class="col-sm-6">
<div class="card" >
<div class="card-body">
<h5 class="card-title">Loans</h5>
<h6 class="card-subtitle mb-2 text-muted">Apply for a loan with us</h6>
<p class="card-text">We are with you even at your lowest financial situation. Get a loan today.</p>
<a href="{%url 'request_loan'  %}" class="btn btn-primary">Get a loan today</a>
</div> -->
<!-- <div class="container"> -->
<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Customer</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>

  <tbody>
    {% for loan in loans %}
    <tr>
      <th scope="row">1</th>
      <td>{{loan.name}}</td>
      <td>{{loan.description}}</td>
      <td>{{loan.amount}}</td>
      <td>{{loan.customer}}</td>
      <td>{{loan.duration}}</td>
      <td><a href="{%url 'request_loan' %}" class="btn btn-primary">Request Loan</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table> -->
<!--
</div>
</div> -->


withdrawn
<!-- <div id="details_box">
    <form name="withdraw_details" action="withdraw" method="POST">

            {% if account %}
            {% csrf_token %}
            {{form|safe}}
                            <div>
                                <div>Amount to be withdrawn :</div>
                                <div><input type="text" name="amount" placeholder="Amount"></div>
                            </div>
                            <div>
                                <div> Withdraw from account :</div>
                                <div><input type="text" name="acc_no" placeholder="Account number"></div>
                            </div>

                            <div>
                                <input type="button" value="Withdraw">
                                <div><button>Withdraw</button></div>
                            </div>
            {% else %}
            <div> <div> New Customer. No accounts yet. </div></div>
            {% endif %}
            <div>
                <div><span>{{form|safe}}</span></div>
            </div>
            <div>
                <div> <small>By transferring money from your account, you agree to the <a href="#">Terms and Conditions</a> of amount transfer</small>. <br></div>
            </div>
            <button class = "btn btn-block btn-primary" type="submit" name="button">Withdraw</button>
    </form>
</div> -->

models
<!-- # class Transfer(models.Model):
#     from_customer=models.ForeignKey(Customer, on_delete=models.CASCADE)
#     to_customer=models.CharField(max_length=30, unique=True)
#     amount=models.DecimalField(max_digits=12, decimal_places=2)
#
#     def __str__(self):
#         return self.to_customer



# class Deposits(models.Model):
#     trans_id = models.AutoField(primary_key=True)
#     account = models.ForeignKey(Account, on_delete=models.CASCADE)
#     amount = models.FloatField()
#
#     def __str__(self):
#         return self.trans_id
#
# class Withdrawal(models.Model):
#     trans_id= models.AutoField(primary_key=True)
#     account = models.ForeignKey(Account, on_delete=models.CASCADE)
#     amount = models.FloatField()
#
#     def __str__(self):
#         return self.trans_id -->
views
<!-- # def withdraw(request,pk):
#     account = get_object_or_404(Account, pk=pk)
#
#     if request.method == "POST":
#         form = WithdrawForm(request.POST)
#         if form.is_valid():
#             customer = form.save(commit=False)
#             customer.accounts = accounts
#             customer.starter = request.user
#             customer.save()
#             acc_q=Account.objects.get(customer_id=accounts)
#             balance=acc_q.balance
#             Account.objects.create(
#                 amount=form.cleaned_data.get('amount')
#             )
#             # print("balance:",balance)
#             return redirect('home', pk=pk)
#             # if(balance>=amount):
#             #     trans=Account(acc_q)
#             #     trans.create_transaction(amount,"withdraw")
#             #     balance-=amount
#             #     acc_q.Balance=balance
#             #     print("balance:",acc_q.balance)
#             #     acc_q.save()
#             #     customer.accounts[account].account_details.balance-=amount
#             #     return HttpResponse("<td>Withdrawn Successfully!</td><br>")
#             #
#             # else:
#             #     return render(request)
#                 # return render(request,'withdrawn.html', {'form':form, "account":account})
#
#
#     if request.method == "GET":
#         form=WithdrawForm()
#     return render(request,'withdraw.html', {'form':form, "account":account}) -->
<!-- create new_account
# def new_account(request, pk):
#     accounts = get_object_or_404(Account, pk=pk)
#     if request.method == 'Account':
#         form = AccountForm(request.POST)
#         if form.is_valid():
#             customer = form.save(commit=False)
#             customer.accounts = accounts
#             customer.starter = request.user
#             customer.save()
#             Post.objects.create(
#                 message=form.cleaned_data.get('description'),
#                 customer=customer,
#                 created_by=request.user
#                 )
#             return redirect('account_created.html', pk=pk, customer_pk=customer.pk)  # TODO: redirect to the created customer page
#     else:
#         form = AccountForm()
#     return render(request, 'new_customer.html', {'accounts': accounts, 'form': form}) -->
